<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>this application has been developed under MAPBOX &amp; Vuforia licences for map and computer vision and has been used unity engine in it.                                                    this is my undergraduate project with the helps of my Professor Dr.O.Bushehrian.                                       Programmer:Sina Askarnejad                    Copyright © 2014               </string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>acknowledgement</string>
	<key>Title</key>
	<string>simsinak</string>
</dict>
</plist>
